<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%=title%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <style>
    /*body{*/
    /*  padding: 50px;*/
    /*  width: 800px*/
    /*}*/
    #url{
      line-height: 28px;
      margin: 0 4px;
      width: 200px;
      flex-grow: 1;
    }
    button{
      background-color: #00B7FF;
      color: #fff;
      line-height: 28px;
      padding: 6px 30px;
      border: none;
      border-radius: 3px;
    }
    .wrapper{
      max-width: 400px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
<div class="wrapper">
  <div style="display: flex;align-items: center;margin: 50px 0 20px">
    <label>网页连接：</label>
    <input type="text" id="url">

  </div>
  <div style="display: flex;align-items: center;justify-content: center;margin: 20px 0">
    <input type="checkbox" value="lazy" name="lazy" id="lazy">
    <label style="font-size: 14px;color: #333" for="lazy">是否开启懒加载(滚动到页面底部)</label>
  </div>
  <div style="display: flex;align-items: center;justify-content: center;margin: 20px 0">
    <label style="margin-right: 16px;flex-shrink: 0">添加css：</label>
    <textarea type="text" id="css" style="width: 200px;flex-grow: 1"></textarea>
  </div>
  <div style="display: flex;align-items: center;justify-content: center">
    <button onclick="submit()">转为PDF</button>
  </div>
</div>
</body>
<script>
  const submit = function () {
    let url = document.querySelector('#url').value
    console.log(url)
    if (!url) {
      alert('连接不能为空')
      return
    }
    if (url.indexOf('http') === -1) {
      url = `http://${url}`
    }
    url = encodeURIComponent(url)
    const lazy = document.querySelector('#lazy').checked
    console.log(lazy)
    let cssStyle = document.querySelector('#css').value
    if (cssStyle) {
      cssStyle = encodeURIComponent(cssStyle)
    }
    if (lazy) {
      window.open(`http://<%=ip%>:3008?path=${url}&lazy=true&css=${cssStyle}`)
      return;
    }
    window.open(`http://<%=ip%>:3008?path=${url}&css=${cssStyle}`)
  }
</script>
</html>
